<h1>Lista de Filmes - <%= link_to 'Voltar', root_path %></h1>

<% @film.each do |f| %>
    <h2> <%= link_to f.title, film_path(f)%> - <%= link_to 'Editar', edit_film_path(f) %> - 
    <%= link_to 'Deletar', film_path(f),  data: { turbo_method: :delete, turbo_confirm: "Você tem certeza que deseja apagar?"} %> 
    </h2> 
    
    <p>Ano de lançamento: <%= f.release_year %></p>

<% end %>